.header-up {
    padding: 2rem;
    background-color: #003D79;
}

.header-down {
    padding: 2rem;
    border-top: 0.4rem solid #D59F0F;
    border-bottom: 0.2rem solid #e2e2e2;

}

.nav-link {
    color: #666666 !important;
    font-size: 1.1rem !important;
}

.nav-link:hover {
    color: #D59F0F !important;
}

.img-thumbnail {
   background-color: transparent !important;
   border: transparent !important;
}

#carrusel {
    padding: 2rem;
}

.carousel-item {
    padding: 2rem;
}

.carousel-item img {
    border-radius: 1rem;
}